* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    color: #292A2F;
}

*:before,
*:after {
    box-sizing: border-box;
}

:focus,
:active,
a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html {
    scroll-behavior: smooth;
}

html.lock {
    overflow: hidden;
    touch-action: none;
}

html,
body {
    width: 100%;
    height: 100%;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    line-height: 1;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button,
a {
    user-select: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
     padding: 0;
     border: 0;
 }

a {
    text-decoration: none;
}

a:visited {
 text-decoration: none;
}

a:hover {
 text-decoration: none;
}

ul,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

sup {
    color: inherit;
}

[class*='__container'] {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 10px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    /** Поменять на clip - если используется в проекте position: sticky */
    overflow: hidden;
}

.page {
    position: relative;
    flex: 1 1 auto;
}

.page__container {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 20px;
}

.header {
    padding: 15px 0;
}

.user {
    display: grid;
    grid-template-columns: 80px auto;
    grid-template-rows: 40px 40px;
    gap: 4px 12px;
    align-items: center;
}

.user__image {
    grid-column: 1/2;
    grid-row: 1/3;
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
}

.user__image img {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.user__name {
    font-size: 48px;
    font-weight: 600;
}

.user__position {
    grid-column: 2/3;
    grid-row: 2/3;
    font-size: 24px;
}

.summary {
    font-size: 16px;
    margin: 30px auto 30px;
}

.heading {
    display: flex;
    gap: 5px;
    align-items: center;
}

.heading__icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading__icon svg {
    width: 24px;
    height: 24px;
}

.heading__text {
    font-size: 24px;
    font-weight: 600;
}

.sidebar__heading {
    margin-bottom: 30px;
}

.sidebar__heading:not(:first-child) {
    margin-top: 50px;
}

.personal-info {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.personal-info__links {
    display: flex;
    flex-wrap: wrap;
    gap: 24px 10px;
}

.personal-info__link {
    font-weight: 600;
}

.personal-info__contacts {
    font-size: 16px;
    font-weight: 400;
}

.personal-info__method {
    font-size: 16px;
    font-weight: 600;
}

.skills {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    gap: 24px;
}

.skills__item {
    font-size: 16px;
    font-weight: 400;
}

.languages__item {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    gap: 24px;
    margin-bottom: 20px;
}

.languages__item svg {
    width: 12px;
    height: 12px;
}

.languages__stars {
    margin-bottom: 12px;
}

.languages__text {
    font-size: 12px;
    font-weight: 500;
}

.experience-info {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    margin-bottom: 30px;
}

.experience-info__date {
    font-size: 16px;
    font-weight: 600;
}

.experience-info__position {
    font-size: 20px;
    font-weight: 600;
}

.experience-info__company {
    font-style: italic;
}

.education__item {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 24px;
    margin-bottom: 20px;
}

.education__year {
    font-size: 16px;
    font-weight: 600;
}

.education__info {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 12px;
}

.education__institution {
    font-size: 16px;
    font-style: italic;
}

.footer {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 24px;
}

.footer__icon {
    height: 20px;
}